@charset "utf-8"; 

/*
 * LAST CHANGES
 * Styled buttons
 * Change colors in td even and td odd
 * Styled tab bars
 * Styled links in side bars
 * Styled links out side bars
*/

body {
  font-family: Arial;
}

a:link, a:visited {
  color: #3b5998;
}

a.active, a:hover {
  color: #6179ac;
}

.sidebar  li a:link,.sidebar li a:visited {
  font-weight: bold;
}

.sidebar li a.active,.sidebar li a:hover {
  font-weight: bold;
}

ul.tabs.primary {
  background: #3b5998;
  border-color: #6179ac;
  border: 0px;
}

ul.tabs.primary li {
  background: #3b5998;
  margin: 0px;
  border-top: 0px;
}

ul.tabs.primary li.active, ul.tabs.primary li:hover {
  background: #6179ac;
}

ul.tabs.primary li a {
  color: #ffffff;
  font-weight: bolder;
}

ul.tabs.secondary {
  background: #6179ac;
  margin: 0px;
  padding: 0px;
  border-top: 2px solid #6179ac;
}

ul.tabs.secondary li {
  background: #6179ac;
  padding: 5px;
}

ul.tabs.secondary li.active, ul.tabs.secondary li:hover {
  background: #3b5998;
  padding: 5px;
}

ul.tabs.secondary li a {
  color: #ffffff;
  font-weight: bolder;
}

ul.tabs.secondary li a:hover {
  text-decoration: none;
}

.even td {
  background-color: #e9f3f9;
}

.odd td {
  background-color: #bddaec;
}

/* NAVIGATION BAR FACEBOOK STYLE START */
#nav {
  background-color: #3b5998;
  width:100%; 
  height:36px;
  margin-bottom: 0px;
}

#sitename {
  float: left;
  height: 36px;
}

#sitename h1{
  line-height: 20px;
  padding-top: 3px;
  height: 33px;  
}

#sitename h1 a{
  color: #ffffff;
  padding: 0px 15px 0px 15px;
  font-weight: bold;
  font-family: verdana;
  text-decoration: none;
  font-size: 60%;
}

#logo{
  height: 24px;
  padding: 5px ;
}

#logobox{
  float:left;
}

#siteslogan{
  float: left;
  padding-top: 14px;
  font-size: 120%;
  color: #ffffff;
  font-weight: bolder;
}

#schemas_label{
  float:right;
  padding: 10px 10px 0px 0px;
  color: #ffffff;
}

#schemas_selector{
  float: right;
  margin-right: 5px;
}

#schemas_selector form, #schemas_selector .form-item , #schemas_selector select {
  margin: 0px;
}

#schemas_selector select{
  margin-top: 7px;
  font-size: 90%;
  background: #3b5998;
  color: #ffffff;
  border: 3px ridge #6179ac;
}


#searchbox{
  font-size: 75%;
  float: right;
  margin-right: 5px;
}

#search.container-inline input {
  margin-top: 7px;
  margin-bottom: 0px;
}

#social_menu {
  float: right;
}

#social_menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

#social_menu li.active-trail{
  background: #6179ac;
}

#social_menu ul ul a {
  font-weight: normal;
}

#social_menu ul {
  padding: 0px;
  margin: 0px;
  z-index: 40;
  float: left;
}

#social_menu li {
  float: left;
  position: relative;
  background-image: none;
  padding: 11px;
}

#social_menu li ul {
  display: none;
  position: absolute; 
  top: 34px;
  left: 0px;  
  background: #3b5998;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #ffffff;
}

#social_menu li ul li{
  width: 200px; 
  border: 1px solid #ffffff;
  border-top: 0px;
}

#social_menu li:hover {
  background: #6179ac;
}

#social_menu li:hover ul {
  display: block;
}


/* NAVIGATION BAR FACEBOOK STYLE END  */


/*
* BLOKS 
*/	


.block h3 {
  border-bottom: dotted 1px #808080;
  padding: 0px 5px;
}

.block .content {
  margin-bottom: 15px;
  padding: 0px 5px;
}

/*
* SECONDARY LINKS
*/	

#secondary{
  background-color: #6179ac;
  text-align: center;
}

#secondary a{
  color: #ffffff;
}

/**
 * LAYOUT
 */
.container {
  margin: 0 auto;
  padding: 0;
}

/**
 * MAIN
 */
/* 1 column */

#main_social {
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  padding: 0px 10px;
  margin: 0px 10px;
}

/* 3 columns */
body.sidebars #main, body.sidebar-left #main, body.sidebar-right #main {
  width: auto;
  border: 1px solid red;
}



/**
 * SIDEBARS
 */
.sidebar {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#sidebar-left, #sidebar-right {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.form-submit{
  background: #3b5998;
  color: #ffffff;
  font-weight: bolder;
  border: 3px ridge #6179ac;
}

.form-submit:hover{
  background: #6179ac;
  border-color: #ffffff;
}

.container{
  /*margin: 0px;*/
}
