@charset "utf-8"; 
 
.form-submit,
#schemas_label,
#schemas_selector select,
ul.tabs.primary li a,
ul.tabs.secondary li a,
#sitename h1 a,
#siteslogan,
#social_menu a,
#secondary a                    {color:         #000000;}
.form-submit:hover, 
#social_menu li ul li           {border-color:  #ffffff;}
 
 
.form-submit,
#schemas_selector select, 
ul.tabs.primary,
ul.tabs.primary li,
#nav,
ul.tabs.secondary li.active, 
ul.tabs.secondary li:hover,
#social_menu li ul              {background:    #efde01;}
a:link, a:visited               {color:         #efde01;}
 
 
ul.tabs.secondary,
.form-submit:hover,
ul.tabs.secondary li,
#social_menu li.active-trail,
#social_menu li:hover,
#secondary,
ul.tabs.primary li.active, 
ul.tabs.primary li:hover        {background:    #e6fb2d;}
.sidebar   a.active,
a.active, a:hover               {color:         #e6fb2d;}
.form-submit,
#schemas_selector select,
ul.tabs.secondary               {border-color:  #e6fb2d;}
 
 
.even td                        {background:    #fbfaeb;}
.odd td                         {background:    #fdfbe3;}
 
.block h3                       {border:        #808080;}
