@charset "utf-8"; 
 
.form-submit,
#schemas_label,
#schemas_selector select,
ul.tabs.primary li a,
ul.tabs.secondary li a,
#sitename h1 a,
#siteslogan,
#social_menu a,
#secondary a                    {color:         #ffffff;}
.form-submit:hover, 
#social_menu li ul li           {border-color:  #ffffff;}
 
 
.form-submit, 
#schemas_selector select,
ul.tabs.primary,
ul.tabs.primary li,
#nav,
ul.tabs.secondary li.active, 
ul.tabs.secondary li:hover,
#social_menu li ul              {background:    #a1443a;}
a:link, a:visited               {color:         #a1443a;}
 
 
ul.tabs.secondary,
.form-submit:hover,
ul.tabs.secondary li,
#social_menu li.active-trail,
#social_menu li:hover,
#secondary,
ul.tabs.primary li.active, 
ul.tabs.primary li:hover        {background:    #c70000;}
.sidebar   a.active,
a.active, a:hover               {color:         #c70000;}
.form-submit,
#schemas_selector select,
ul.tabs.secondary               {border-color:  #c70000;}
 
 
.even td                        {background:    #ffeeec;}
.odd td                         {background:    #e5d6d4;}
 
.block h3                       {border:        #808080;}
