@charset "utf-8"; 

.form-submit,
#schemas_label,
#schemas_selector select,
ul.tabs.primary li a,
ul.tabs.secondary li a,
#sitename h1 a,
#siteslogan,
#social_menu a,
#secondary a                    {color:         #ffffff;}
.form-submit:hover, 
#social_menu li ul li           {border-color:  #ffffff;}


.form-submit,
#schemas_selector select, 
ul.tabs.primary,
ul.tabs.primary li,
#nav,
ul.tabs.secondary li.active, 
ul.tabs.secondary li:hover,
#social_menu li ul              {background:    #788597;}
a:link, a:visited               {color:         #788597;}


ul.tabs.secondary,
.form-submit:hover,
ul.tabs.secondary li,
#social_menu li.active-trail,
#social_menu li:hover,
#secondary,
ul.tabs.primary li.active, 
ul.tabs.primary li:hover        {background:    #a9adbc;}
.sidebar   a.active,
a.active, a:hover               {color:         #a9adbc;}
.form-submit,
#schemas_selector select,
ul.tabs.secondary               {border-color:  #a9adbc;}


.even td                        {background:    #e0e3ec;}
.odd td                         {background:    #f1f3fb;}

.block h3                       {border:        #808080;}

