@charset "utf-8"; 
 
.form-submit,
#schemas_label,
#schemas_selector select,
ul.tabs.primary li a,
ul.tabs.secondary li a,
#sitename h1 a,
#siteslogan,
#social_menu a,
#secondary a                    {color:         #000000;}
.form-submit:hover, 
#social_menu li ul li           {border-color:  #ffffff;}
 
 
.form-submit,
#schemas_selector select, 
ul.tabs.primary,
ul.tabs.primary li,
#nav,
ul.tabs.secondary li.active, 
ul.tabs.secondary li:hover,
#social_menu li ul              {background:    #fc6d1d;}
a:link, a:visited               {color:         #fc6d1d;}
 
 
ul.tabs.secondary,
.form-submit:hover,
ul.tabs.secondary li,
#social_menu li.active-trail,
#social_menu li:hover,
#secondary,
ul.tabs.primary li.active, 
ul.tabs.primary li:hover        {background:    #ffe23d;}
.sidebar   a.active,
a.active, a:hover               {color:         #ffe23d;}
.form-submit,
#schemas_selector select,
ul.tabs.secondary               {border-color:  #ffe23d;}
 
 
.even td                        {background:    #f9f1c7;}
.odd td                         {background:    #ece5bf;}
 
.block h3                       {border:        #808080;}
