@charset "utf-8"; 

.form-submit,
#schemas_selector select,
#schemas_label,
ul.tabs.primary li a,
ul.tabs.secondary li a,
#sitename h1 a,
#siteslogan,
#social_menu a,
#secondary a                    {color:         #000000;}
.form-submit:hover, 
#social_menu li ul li           {border-color:  #ffffff;}


.form-submit, 
#schemas_selector select,
ul.tabs.primary,
ul.tabs.primary li,
#nav,
ul.tabs.secondary li.active, 
ul.tabs.secondary li:hover,
#social_menu li ul              {background:    #ff0000;}
a:link, a:visited               {color:         #ff0000;}


ul.tabs.secondary,
.form-submit:hover,
ul.tabs.secondary li,
#social_menu li.active-trail,
#social_menu li:hover,
#secondary,
ul.tabs.primary li.active, 
ul.tabs.primary li:hover        {background:    #f3a9a9;}
.sidebar   a.active,
a.active, a:hover               {color:         #f3a9a9;}
.form-submit,
#schemas_selector select,
ul.tabs.secondary               {border-color:  #f3a9a9;}


.even td                        {background:    #e8d3d3;}
.odd td                         {background:    #fbe9e9;}

.block h3                       {border:        #808080;}



